.primary-btn {
    -fx-background-color: #594BA0;
    -fx-text-fill: #FBFAFB;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.primary-btn:hover {
    -fx-background-color: #7263D9;  /* darker */
}

.primary-btn:pressed {
    -fx-background-color: #134E4A;  /*  darker */
}